
<div id="footer_wrap" class="outer">
  <footer class="inner">
    {% if site.github.is_project_page %}
    <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}

    <div class="flex-container">    
    {% for item in site.data.footer.columns %}
        <div>
        <p>{{ item.title }}</p>
          <ul>
            {% for entry in item.subitems %}
              <li><a href="{{ entry.link }}">{{ entry.name }}</a></li>
            {% endfor %}
          </ul>
        </div>  
      {% endfor %}    
    </div>    
    
     <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
  </footer>
</div>