---
---

@import "{{ site.theme }}";

nav {
  text-align: center	
}

nav a {
  padding: 10px; 
  color: #F2F2F2;
  font-size: 22px;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-flex-container {
  display: flex;
  flex-direction: row;  
  justify-content: space-around;
  align-items: flex-start;
}

@media (max-width: 480px) {
  .footer-flex-container {
    flex-direction: column;
  }
}

.header-flex-container {
  display: flex;
  flex-direction: row;  
  justify-content: space-around;
  align-items: flex-start;
}

@media (max-width: 480px) {
  .header-flex-container {
    flex-direction: column;
  }
}

.header-image {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border-style: none;

/*   box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb; */
}

.example-flex-container {
  display: flex;
  flex-direction: row;  
  justify-content: space-around;
  align-items: flex-start;
}

@media (max-width: 480px) {
  .example-flex-container {
    flex-direction: column;
  }
}